<h1>ODI: Classroom dashboard	</h1>
<label> assignment <input type="text" ng-model="main.classroomProjectPrefix"></label>

<p>{{main.ghApi.rateLimit.remaining}} / {{main.ghApi.rateLimit.limit}} reset in {{main.ghApi.rateLimit.resetCoutdown()}} min</p>
<a href="https://github.com/login/oauth/authorize?client_id=0f49b767798fd5815a80&scope=read:org,public_repo&state=test">login</a>
<button ng-click="main.refresh()">refresh data</button>
<label><input type="checkbox" ng-model="debug"> debug</label>
<!-- <label><input type="checkbox" ng-model="showpic"> showpic</label> -->

<table>
	<thead>
		<tr>
			<th></th>
            <th>Project</th>
			<th ng-if="debug">matricule</th>
			<th>nom</th>
			<th>readme</th>
			<th >commits</th>
			<th >branches</th>
			<th >tags</th>

		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(name, a) in main.assignmentsFiltered()">
			<td>{{$index + 1}}</td>
            <td>{{name}}</td>
			<td ng-if="debug">
				<div class="student" ng-repeat="u in a.users">{{main.loginToMatricule(u.login)}}</div>
			</td>
			<td>
				<div class="student" ng-repeat="u in a.users">{{u.name}} <span ng-if="!u.name || debug">({{u.login}})</span> <b>[{{main.commitCount(a.commits, u)}}]</b>
				    <!-- <div ng-if="showpic"><img ng-src="https://amc.ig.he-arc.ch/sdb/images/students/{{main.loginToMatricule(u.login)}}.jpg" /></div> -->
                </div>
			</td>
			<td ng-class="{correct: a.hasReadme, wrong: !a.hasReadme}">
				<a target="_blank" ng-href="{{a.readmeUrl}}">{{a.hasReadme}}</a>
			</td>
			<td  ng-click="main.commiterIndex=[];main.commits=a.commits">{{a.commits.length}}</td>
			<td >{{a.branches}}</td>
			<td >{{a.releases}}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<div>
	<div ng-repeat="c in main.commits" class="commiter{{main.getCommiterIndex(c.commit.author.name)}}">
		<i>{{c.commit.author.name}}</i>
		{{c.commit.author.date | date}}
		<a target="_blank" ng-href="{{c.html_url}}" ng-class="{'merge': c.commit.message.indexOf('Merge') == 0}">{{c.commit.message}}</a>
	</div>
</div>
<a ng-href="{{main.getUrls()}}" download="urls.txt">download urls.txt</a>
<br/>
<a ng-href="{{main.getCloneSSHUrls()}}" download="clone_repos_cmd.txt">download clone ssh urls clone_repos_cmd.txt</a>
